<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TablaAgregar</title>
	</head>
	<body>
		<h1>AGREGAR Tabla</h1>
		
		<form name= "tabla" action="/adminTools/recurso/agregar/guardarTabla" method="post" enctype="multipart/form-data">
  			<input type="text" name="nombre">nombre
  			<textarea name="descripcion">descripcion</textarea>
  			<input type="file" id="imagenTabla" name="imagenTabla">
	  		<input type='submit' value='Guardar'/>
		</form>
		
	</body>
</html>