<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>FuncionProcedureMetodoAgregar</title>
	</head>
	<body>
		<h1>AGREGAR FuncionProcedureMetodo</h1>
		
		<form name= "funcionProcedureMetodo" action="/adminTools/recurso/agregar/guardarFuncionProcedureMetodo" method="post">
  			<input type="text" name="nombre">nombre
  			<textarea name="descripcion">descripcion</textarea>
  			<textarea name="codigo">codigo</textarea>
	  		<input type='submit' value='Guardar'/>
		</form>
		
	</body>
</html>