<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FinCiclo</title>
</head>
<body>
	
		<a href="/adminTools/modulo">MODULOS</a><br>
		<a href="/adminTools/subModulo">SUB MODULOS</a><br>
		<a href="/adminTools/recursoEspecifico">RECURSOS ESPECIFICOS</a><br>
		<a href="/adminTools/nombreSubModulo">NOMBRE SUBMODULO</a><br>
		<a href="/adminTools/nombreRecursoEspecifico">NOMBRE RECURSOS ESPECIFICOS</a><br>
		<a href="/adminTools/recurso">RECURSOS</a><br>
		<a href="/adminTools/parte">PARTES DE RECURSOS</a><br>
		<a href="/adminTools/asociarParte">ASOCIAR PARTE A RECURSO</a><br>
		<a href="/adminTools/diagrama">DIAGRAMA</a><br>
		<a href="/adminTools/diagrama/asociar">ASOCIAR DIAGRAMA</a><br>
	
</body>
</html>