<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>adminRecursoEspecifico</title>
	</head>
	<body>
		<h1>Recurso Especifico</h1>
		
		<h1><a href="/adminTools/recursoEspecifico/agregar">agregar recursoEspecifico</a></h1>
		<h1><a href="/adminTools/recursoEspecifico/editar">editar recursoEspecifico</a><br></h1>
		<h1><a href="/adminTools/recursoEspecifico/borrar">borrar recursoEspecifico</a><br></h1>
		{{#isEditar}}
			{{#opcionesRecursoEspecifico}}
				<a href="/adminTools/recursoEspecifico/editar/{{idRecursoEspecifico}}">{{subModulo.nombreSubModulo.nombre}}{{nombreRecursoEspecifico.nombre}}</a><br>
			{{/opcionesRecursoEspecifico}}
		{{/isEditar}}
		
		{{#isBorrar}}
			{{#opcionesRecursoEspecifico}}
				<a href="/adminTools/recursoEspecifico/borrar/{{idRecursoEspecifico}}">{{subModulo.nombreSubModulo.nombre}}{{nombreRecursoEspecifico.nombre}}</a><br>
			{{/opcionesRecursoEspecifico}}
		{{/isBorrar}}
		
		{{#mensaje}}
			<p>{{mensaje}}</p>
		{{/mensaje}}
		
	</body>
</html>