<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FinCiclo</title>
</head>
<body>
{{#bienvenida}}
	<h1>Bienvenido</h1>
	{{/bienvenida}}
	
	<h1>MODULOS</h1>
	{{#opcionesModulo}}
		<a href="/opcion/{{idModulo}}">{{nombre}}</a>
	{{/opcionesModulo}}
	
	{{#hasSubModulos}}
		<h1>SUB MODULOS</h1>
	{{/hasSubModulos}}
	
	{{#subModulos}}
		<a href="/opcionSubmodulo/{{idSubModulo}}">{{nombreSubModulo.nombre}}</a>
	{{/subModulos}}
	
	{{#diagramas}}
		<img src = "{{rutaDiagrama}}">
	{{/diagramas}}
	
	{{#hasRecursosEspecificos}}
		<h1>RECURSOS ESPECIFICOS</h1>
	{{/hasRecursosEspecificos}}
	{{#recursosEspecificos}}
		<a href="/opcionRecursoEspecifico/{{idRecursoEspecifico}}">{{nombreRecursoEspecifico.nombre}}</a>
	{{/recursosEspecificos}}
	
	{{#hasRecursos}}
		<h1>RECURSOS </h1>
	{{/hasRecursos}}
	{{#recursos}}
		<a href="/opcionRecurso/{{idRecurso}}">{{nombre}}</a>
	{{/recursos}}
	
	{{#detallesRecurso}} 
	 		<h2>Nombre</h2>
    		 {{nombre}}
    		  {{#descripcion}} 
    		  	 <h2>descripcion</h2>
    			 {{descripcion}}
    		  {{/descripcion}}
    		  {{#codigo}} 
    		  	 <h2>Codigo</h2>
    			 {{codigo}}
    		  {{/codigo}}
    		  {{#rutaImagen}} 
    		  	 <h2>imagen</h2>
    			 <img alt="imagen" src="{{rutaImagen}}">
    		  {{/rutaImagen}}
    		  {{#parametros}} 
    		  	 <h2>nombre parametro</h2>
    		  	 {{nombre}}
    			 {{#tipoDeDato}} 
	    		  	 <h2>tipo</h2>
	    			 {{tipoDeDato}}
    		  	 {{/tipoDeDato}}
    		  	 {{#direccion}} 
	    		  	 <h2>direccion</h2>
	    			 {{direccion}}
    		  	 {{/direccion}}
    		  {{/parametros}}
    		  {{#columnas}} 
    		  	 <h2>nombre columna</h2>
    		  	 {{nombre}}
    			 {{#tipoDeDato}} 
	    		  	 <h2>tipo</h2>
	    			 {{tipoDeDato}}
    		  	 {{/tipoDeDato}}
    		  {{/columnas}}
    		  {{#claves}} 
    		  	 <h2>nombre clave</h2>
    		  	 {{nombre}}
    			 {{#tipoDeClave}} 
	    		  	 <h2>tipo</h2>
	    			 {{tipoDeClave}}
    		  	 {{/tipoDeClave}}
    		  {{/claves}}
    		  
	{{/detallesRecurso}}
	
	
	
	<a href="/adminTools"><button>Herramientas BD</button></a>
	
	
</body>
</html>