<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FinCiclo</title>
<link rel="stylesheet" href="http://localhost:8080/css/style.css"></link>
</head>
<body>

<div class = "cabecera"> Documentacion Tienda Harnina</div>

{{#bienvenida}}
	<h4>Bienvenido</h4>
{{/bienvenida}}


<div class="contenedorPrincipal">

	<div class="menuLateralIzquierdo">
	
		<div class="row">
		  <div class="col">
		    <div class="tabs">
		      <div class="tab">
		        <input type="checkbox" id="chck1">
		        <label class="tabLabel" for="chck1">
		       		{{#moduloActual}}
				    	{{nombre}}
				    {{/moduloActual}}
				    {{^moduloActual}}
		 				Selecciona
					{{/moduloActual}}
				</label>
		         {{#opcionesModulo}}
		       		 <div class="tabContent">
						<a href="/opcion/{{idModulo}}"><button class="botonEnlace">{{nombre}}</button></a>
			        </div>
				{{/opcionesModulo}}
		      </div>
		    </div>
		  </div>
		</div>
		
	{{#hasSubModulos}}
		<div class="row">
		  <div class="col">
		    <div class="tabs">
		      <div class="tab">
		        <input type="checkbox" id="chck2">
		        <label class="tabLabel" for="chck2">
		       		{{#subModuloActual}}
				    	{{nombreSubModulo.nombre}}
				    {{/subModuloActual}}
				    {{^subModuloActual}}
		 				Selecciona
					{{/subModuloActual}}
				</label>
		         {{#subModulos}}
		       		 <div class="tabContent">
						<a href="/opcionSubmodulo/{{idSubModulo}}"><button class="botonEnlace">{{nombreSubModulo.nombre}}</button></a>
			        </div>
				{{/subModulos}}
		      </div>
		    </div>
		  </div>
		</div>
	{{/hasSubModulos}}
	
	{{#hasRecursosEspecificos}}
		<div class="row">
		  <div class="col">
		    <div class="tabs">
		      <div class="tab">
		        <input type="checkbox" id="chck3">
		        <label class="tabLabel" for="chck3">
		       		{{#recursoEspecificoActual}}
				    	{{nombreRecursoEspecifico.nombre}}
				    {{/recursoEspecificoActual}}
				    {{^recursoEspecificoActual}}
		 				Selecciona
					{{/recursoEspecificoActual}}
				</label>
		         {{#recursosEspecificos}}
		       		 <div class="tabContent">
						<a href="/opcionRecursoEspecifico/{{idRecursoEspecifico}}"><button class="botonEnlace">{{nombreRecursoEspecifico.nombre}}</button></a>
			        </div>
				{{/recursosEspecificos}}
		      </div>
		    </div>
		  </div>
		</div>
	{{/hasRecursosEspecificos}}
	
	{{#hasRecursos}}
		<div class="row">
		  <div class="col">
		    <div class="tabs">
		      <div class="tab">
		        <input type="checkbox" id="chck4">
		        <label class="tabLabel" for="chck4">
		       		{{#recursoActual}}
				    	{{nombre}}
				    {{/recursoActual}}
				    {{^recursoActual}}
				    	Selecciona
				    {{/recursoActual}}
				</label>
		         {{#recursos}}
		       		 <div class="tabContent">
						<a href="/opcionRecurso/{{idRecurso}}"><button class="botonEnlace">{{nombre}}</button></a>
			        </div>
				{{/recursos}}
		      </div>
		    </div>
		  </div>
		</div>
	{{/hasRecursos}}	
	</div>
	
		
		
	<div class="contenidoDerecho">
			{{#diagramas}}
				{{#subModuloActual}}
					<div class="tituloDiagrama">{{nombreSubModulo.nombre}}</div>
				{{/subModuloActual}}
				<img src = "{{rutaDiagrama}}" class="imagenDiagrama">
				{{#subModuloActual}}
					<div class="descripcionDiagrama">{{descripcion}}</div>
				{{/subModuloActual}}
			{{/diagramas}}
			
			
		
		{{#detallesRecurso}} 
	    		 <div class="tituloDiagrama">
	    		 	{{nombre}}
	    		 </div>
	    		 
	    		  {{#descripcion}} 
	    		  	 <div class="descripcionDiagrama">
	    		  	 	{{descripcion}}
	    		  	 </div>
	    		  {{/descripcion}}
	    		  
	    		  {{#codigo}} 
	    		 	 <div class="descripcionDiagrama">
	    			 	{{codigo}}
	    			 </div>
	    		  {{/codigo}}
	    		  
	    		  {{#rutaImagen}} 
	    			 <img alt="{{nombre}}" src="{{rutaImagen}}" class="imagenTabla">
	    		  {{/rutaImagen}}
	    		  
	    		  {{#hasParametros}}
		    		  <div class = "columnas"> 
		    		  	<img src="http://localhost:8080/img/logoParametro.JPG" class="logo"></img> 
	    		  		  {{#parametros}}
			    		  	  <div class = "datosColumnas"> 
				    		  	 <span>{{nombre}}</span>
			    				 {{#tipoDeDato}} 
				    				 <span>{{tipoDeDato}}</span>
			    		  		 {{/tipoDeDato}}
			    		  		 {{#direccion}} 
				    				 <span>{{direccion}}</span>
			    		  		 {{/direccion}}
				    		  </div> 
			    		  {{/parametros}}
			    	  </div>  
	    		  {{/hasParametros}}
		    	  
		    	  {{#hasColumnas}}
		    		  <div class = "columnas"> 
		    		  	<img src="http://localhost:8080/img/logoColumna.PNG" class="logo"></img>
	    		  		  {{#columnas}}
			    		  	  <div class = "datosColumnas"> 
				    		  	 <span>{{nombre}}</span>
			    				 {{#tipoDeDato}} 
				    				 <span>{{tipoDeDato}}</span>
			    		  		 {{/tipoDeDato}}
				    		  </div> 
			    		  {{/columnas}}
			    	  </div>  
		    	  {{/hasColumnas}}
		    	  
		    	  {{#hasClaves}}
			    	  <div class = "claves"> 
		    		  	<img src="http://localhost:8080/img/logoClave.PNG" class="logo"></img>
	    		  		  {{#claves}}
			    		  	  <div class = "datosClaves"> 
				    		  	 <span>{{nombre}}</span>
			    				 {{#tipoDeClave}} 
				    				 <span>{{tipoDeClave}}</span>
			    		  		 {{/tipoDeClave}}
				    		  </div> 
			    		  {{/claves}}
			    	  </div>  
		    	  {{/hasClaves}}
		{{/detallesRecurso}}
	</div>
</div>	
	
	<a href="/adminTools"><button>Herramientas BD</button></a>
		
	
	
</body>
</html>